In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
df=pd.read_csv('test.csv')

### Test header_data

In [4]:
headers_data = [
    "PassengerId", "Pclass", "Name", "Sex", "Age", "SibSp", "Parch", 
    "Ticket", "Fare", "Cabin", "Embarked"
]
data = [[892, 3, 'Kelly, Mr. James', 'male', 34.5, 0, 0, '330911', 7.8292, '', 'Q']]
df = pd.DataFrame(columns=headers_data)

### Display Top 10 Row

In [5]:
df = pd.read_csv('test.csv',names=headers_data)
df.head(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
2,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7,NaN,S
3,894,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9.6875,NaN,Q
4,895,3,"Wirz, Mr. Albert",male,27,0,0,315154,8.6625,NaN,S
5,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22,1,1,3101298,12.2875,NaN,S
6,897,3,"Svensson, Mr. Johan Cervin",male,14,0,0,7538,9.225,NaN,S
7,898,3,"Connolly, Miss. Kate",female,30,0,0,330972,7.6292,NaN,Q
8,899,2,"Caldwell, Mr. Albert Francis",male,26,1,1,248738,29,NaN,S
9,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18,0,0,2657,7.2292,NaN,C

### Display last 10 Rows

In [6]:
df.tail(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
409,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
410,1301,3,"Peacock, Miss. Treasteall",female,3,1,1,SOTON/O.Q. 3101315,13.775,NaN,S
411,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.75,NaN,Q
412,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37,1,0,19928,90,C78,Q
413,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28,0,0,347086,7.775,NaN,S
414,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.05,NaN,S
415,1306,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108.9,C105,C
416,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.25,NaN,S
417,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.05,NaN,S
418,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

### shape test

In [7]:
df.shape

(419, 11)

### Number of Rows and Number of Columns

In [8]:
print("Number of Rows:", df.shape[0])
print("Number of Columns:", df.shape[1])

Number of Rows: 419
Number of Columns: 11

###  Total number of rows and total number of columns ,DataType of Each columnAnd Memory

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419 entries, 0 to 418
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  419 non-null    object
 1   Pclass       419 non-null    object
 2   Name         419 non-null    object
 3   Sex          419 non-null    object
 4   Age          333 non-null    object
 5   SibSp        419 non-null    object
 6   Parch        419 non-null    object
 7   Ticket       419 non-null    object
 8   Fare         418 non-null    object
 9   Cabin        92 non-null     object
 10  Embarked     419 non-null    object
dtypes: object(11)
memory usage: 36.1+ KB

### overall Statistics About the DataFrame

In [10]:
pd.options.display.float_format ='{:.2f}'.format

In [11]:
df.describe()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,419,419,419,419,333,419,419,419,418,92,419
unique,419,4,419,3,80,8,9,364,170,77,4
top,1309,3,"Peter, Master. Michael J",male,24,0,0,PC 17608,7.75,B57 B59 B63 B66,S
freq,1,218,1,266,17,283,324,5,21,3,270

In [12]:
df.describe(include='all')

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,419,419,419,419,333,419,419,419,418,92,419
unique,419,4,419,3,80,8,9,364,170,77,4
top,1309,3,"Peter, Master. Michael J",male,24,0,0,PC 17608,7.75,B57 B59 B63 B66,S
freq,1,218,1,266,17,283,324,5,21,3,270

### Missing Values in Data

In [13]:
print(" Any missing values ?",df.isnull().values.any())

 Any missing values ? True

In [14]:
df.isnull()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
414,False,False,False,False,True,False,False,False,False,True,False
415,False,False,False,False,False,False,False,False,False,False,False
416,False,False,False,False,False,False,False,False,False,True,False
417,False,False,False,False,True,False,False,False,False,True,False
418,False,False,False,False,True,False,False,False,False,True,False

In [15]:
df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [16]:
df.dropna(axis=0,inplace=True)

In [17]:
df.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [18]:
print("lenght of data:",len(df))

per_missing=df.isnull().sum()*100/len(df)
print(per_missing)

lenght of data: 88
PassengerId   0.00
Pclass        0.00
Name          0.00
Sex           0.00
Age           0.00
SibSp         0.00
Parch         0.00
Ticket        0.00
Fare          0.00
Cabin         0.00
Embarked      0.00
dtype: float64

### drop all missing values

In [19]:
df.dropna(axis=0)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
13,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23,1,0,21228,82.2667,B45,S
15,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47,1,0,W.E.P. 5734,61.175,E31,S
25,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48,1,3,PC 17608,262.375,B57 B59 B63 B66,C
27,918,1,"Ostby, Miss. Helene Ragnhild",female,22,0,1,113509,61.9792,B36,C
...,...,...,...,...,...,...,...,...,...,...,...
405,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43,1,0,17765,27.7208,D40,C
406,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20,0,0,SC/PARIS 2166,13.8625,D38,C
408,1299,1,"Widener, Mr. George Dunton",male,50,1,1,113503,211.5,C80,C
412,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37,1,0,19928,90,C78,Q
415,1306,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108.9,C105,C

### Data Cleaning Rank COlumn

In [20]:
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
13,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23,1,0,21228,82.2667,B45,S
15,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47,1,0,W.E.P. 5734,61.175,E31,S
25,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48,1,3,PC 17608,262.375,B57 B59 B63 B66,C
27,918,1,"Ostby, Miss. Helene Ragnhild",female,22,0,1,113509,61.9792,B36,C

In [21]:
df.tail()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
405,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43,1,0,17765,27.7208,D40,C
406,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20,0,0,SC/PARIS 2166,13.8625,D38,C
408,1299,1,"Widener, Mr. George Dunton",male,50,1,1,113503,211.5,C80,C
412,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37,1,0,19928,90,C78,Q
415,1306,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108.9,C105,C

In [22]:
df.dtypes

PassengerId    object
Pclass         object
Name           object
Sex            object
Age            object
SibSp          object
Parch          object
Ticket         object
Fare           object
Cabin          object
Embarked       object
dtype: object

### Duplicate Data

In [23]:
dup_data=df.duplicated().any()

In [24]:
print("Are there any duplicate value?",dup_data)

Are there any duplicate value? False

In [25]:
df=df.drop_duplicates()
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
13,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23,1,0,21228,82.2667,B45,S
15,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47,1,0,W.E.P. 5734,61.175,E31,S
25,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48,1,3,PC 17608,262.375,B57 B59 B63 B66,C
27,918,1,"Ostby, Miss. Helene Ragnhild",female,22,0,1,113509,61.9792,B36,C
...,...,...,...,...,...,...,...,...,...,...,...
405,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43,1,0,17765,27.7208,D40,C
406,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20,0,0,SC/PARIS 2166,13.8625,D38,C
408,1299,1,"Widener, Mr. George Dunton",male,50,1,1,113503,211.5,C80,C
412,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37,1,0,19928,90,C78,Q
415,1306,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108.9,C105,C

In [26]:
df.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [27]:
df.groupby('PassengerId')['Pclass'].value_counts().unstack().fillna(0)

Pclass         1    2    3  Pclass
PassengerId
1001        0.00 1.00 0.00    0.00
1004        1.00 0.00 0.00    0.00
1006        1.00 0.00 0.00    0.00
1009        0.00 0.00 1.00    0.00
1010        1.00 0.00 0.00    0.00
...          ...  ...  ...     ...
973         1.00 0.00 0.00    0.00
984         1.00 0.00 0.00    0.00
988         1.00 0.00 0.00    0.00
992         1.00 0.00 0.00    0.00
PassengerId 0.00 0.00 0.00    1.00

[88 rows x 4 columns]

In [28]:
print(df[['Name', 'Sex']].head())

                                                 Name     Sex
0                                                Name     Sex
13      Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female
15  Chaffee, Mrs. Herbert Fuller (Carrie Constance...  female
25    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  female
27                       Ostby, Miss. Helene Ragnhild  female

In [29]:
print(df[['Name', 'Sex']].isnull().sum())

Name    0
Sex     0
dtype: int64

In [31]:
import seaborn as sns
import matplotlib.pyplot as plt

In [36]:
df['PassengerId'] = pd.to_numeric(df['PassengerId'], errors='coerce')
df = df.dropna(subset=['PassengerId'])

In [37]:
df.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df.columns.str.strip()

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [39]:
df.rename(columns={'survived': 'Survived'})

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
13,904.00,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23,1,0,21228,82.2667,B45,S
15,906.00,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47,1,0,W.E.P. 5734,61.175,E31,S
25,916.00,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48,1,3,PC 17608,262.375,B57 B59 B63 B66,C
27,918.00,1,"Ostby, Miss. Helene Ragnhild",female,22,0,1,113509,61.9792,B36,C
29,920.00,1,"Brady, Mr. John Bertram",male,41,0,0,113054,30.5,A21,S
...,...,...,...,...,...,...,...,...,...,...,...
405,1296.00,1,"Frauenthal, Mr. Isaac Gerald",male,43,1,0,17765,27.7208,D40,C
406,1297.00,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20,0,0,SC/PARIS 2166,13.8625,D38,C
408,1299.00,1,"Widener, Mr. George Dunton",male,50,1,1,113503,211.5,C80,C
412,1303.00,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37,1,0,19928,90,C78,Q
415,1306.00,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108.9,C105,C

##  Model Fitting

In [43]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [44]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [45]:
# Step 1: Load the data
data = pd.read_csv('test.csv')

In [46]:
data = pd.DataFrame({
    'feature1': [1, 2, 3, 4, 5],
    'feature2': [6, 7, 8, 9, 10],
    'target': [0, 1, 0, 1, 0]
})

In [47]:
# Splitting into X (features) and y (target)
X = data[['feature1', 'feature2']]  # Select feature columns
y = data['target']                 # Select target column

In [48]:
# Optionally, split further into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [49]:
# Display results
print("X_train:\n", X_train)
print("\ny_train:\n", y_train)

X_train:
    feature1  feature2
4         5        10
2         3         8
0         1         6
3         4         9

y_train:
 4    0
2    0
0    0
3    1
Name: target, dtype: int64

In [50]:
# Train the model
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [51]:
# Evaluate the model
y_pred = model.predict(X_test)
print(f"Accuracy: {accuracy_score(y_test, y_pred) * 100:.2f}%")
print("Classification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.00%
Classification Report:
              precision    recall  f1-score   support

           0       0.00      0.00      0.00       0.0
           1       0.00      0.00      0.00       1.0

    accuracy                           0.00       1.0
   macro avg       0.00      0.00      0.00       1.0
weighted avg       0.00      0.00      0.00       1.0

C:\Users\My Computer\AppData\Roaming\Python\Python312\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\My Computer\AppData\Roaming\Python\Python312\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\My Computer\AppData\Roaming\Python\Python312\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\My Computer\AppData\Roaming\Python\Python312\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\My Computer\AppData\Roaming\Python\Python312\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\My Computer\AppData\Roaming\Python\Python312\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

## Converting Object columns into Int columns

In [53]:
import pandas as pd

In [54]:
data = pd.DataFrame({
    'col1': ['1', '2', '3'],
    'col2': ['4', '5', '6'],
    'col3': ['a', 'b', 'c']  # Non-numeric object column
})

In [55]:
for column in data.select_dtypes(include=['object']).columns:
    try:
        data[column] = data[column].astype(int)
    except ValueError:
        print(f"Column '{column}' could not be converted to int.")

Column 'col3' could not be converted to int.

In [56]:
print(data.dtypes)
print(data)

col1     int64
col2     int64
col3    object
dtype: object
   col1  col2 col3
0     1     4    a
1     2     5    b
2     3     6    c

##  Splitting Data into train and test

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
data = {
    'feature1': [1, 2, 3, 4, 5],
    'feature2': [6, 7, 8, 9, 10],
    'target': [0, 1, 0, 1, 0]
}

In [59]:
# Splitting into features (X) and target (y)
X = pd.DataFrame(data)[['feature1', 'feature2']]
y = pd.DataFrame(data)['target']

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [61]:
print("X_train:\n", X_train)
print("\nX_test:\n", X_test)
print("\ny_train:\n", y_train)
print("\ny_test:\n", y_test)

X_train:
    feature1  feature2
4         5        10
2         3         8
0         1         6
3         4         9

X_test:
    feature1  feature2
1         2         7

y_train:
 4    0
2    0
0    0
3    1
Name: target, dtype: int64

y_test:
 1    1
Name: target, dtype: int64

## Applying Different Classifiers
a. Bernoulli

In [62]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
import pandas as pd

In [63]:
from sklearn.naive_bayes import BernoulliNB

# # Example binary feature data
# X = [[1, 0, 1], [0, 1, 0], [1, 1, 1], [0, 0, 0]]
# y = [1, 0, 1, 0]

# Bernoulli Naive Bayes Classifier
model = BernoulliNB()
model.fit(X, y)

# Example prediction
predictions = model.predict(X)
print("Predictions:", predictions)

Predictions: [0 0 0 0 0]

In [64]:
from sklearn.ensemble import RandomForestClassifier

# # Example feature data
# X = [[1, 0, 1], [0, 1, 0], [1, 1, 1], [0, 0, 0]]
# y = [1, 0, 1, 0]

# Random Forest Classifier
model = RandomForestClassifier(random_state=42)
model.fit(X, y)

# Example prediction
predictions = model.predict(X)
print("Predictions:", predictions)

Predictions: [0 1 0 1 0]

In [65]:
from sklearn.naive_bayes import GaussianNB

# Gaussian Naive Bayes Classifier
model = GaussianNB()
model.fit(X, y)

# Predictions
predictions = model.predict(X)
print("Predictions:", predictions)

Predictions: [0 0 1 0 0]

## Decision Tree

In [66]:
from sklearn.tree import DecisionTreeClassifier

# Decision Tree Classifier
model = DecisionTreeClassifier(random_state=42)
model.fit(X, y)

# Predictions
predictions = model.predict(X)
print("Predictions:", predictions)

Predictions: [0 1 0 1 0]

## MultinomialNB

In [67]:
from sklearn.naive_bayes import MultinomialNB

# Multinomial Naive Bayes Classifier
model = MultinomialNB()
model.fit(X, y)

# Predictions
predictions = model.predict(X)
print("Predictions:", predictions)

Predictions: [0 0 0 0 0]

## KNN

In [68]:
from sklearn.neighbors import KNeighborsClassifier

# K-Nearest Neighbors Classifier
model = KNeighborsClassifier(n_neighbors=3)
model.fit(X, y)

# Predictions
predictions = model.predict(X)
print("Predictions:", predictions)

Predictions: [0 0 1 0 0]

In [69]:
# Step 5: Train the model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)  # Train the model on the training data

RandomForestClassifier(random_state=42)

In [70]:
# Predictions
y_pred = model.predict(X_test)

# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.0